* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  padding: 1rem;
  text-align: center;
  background-color: #FDEEDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  padding: 0.5rem;
  width: 100%;
  color: antiquewhite;
  background: linear-gradient(rgb(162, 84, 64), rgb(145, 82, 30), rgb(142, 87, 67));
  box-shadow: 0 0 20px 0 rgba(15, 64, 64, 0.8);
  border-radius: 5px;
}

#description-display {
  width: 25%;
}

#beer-menu {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}
#beer-menu img {
  flex: 0 1 auto;
  height: 300px;
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  border-radius: 30px;
}

#drink-detail {
  position: relative;
}
.detail-image {
  padding-top: 10px;
  height: 350px;
  border-radius: 30px;
}
.ABV-display {
  position: absolute;
  left: 25px;
  padding: 0.25rem 5rem 0.25rem 1rem;
}
.name {
  position: relative;
  left: 25px;
  padding: 0.25rem 5rem 0.25rem 1rem;
}
.ABV-display {
  bottom: 20px;
}
form {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
input,
textarea {
  font-size: 1rem;
  border: 1px solid #F1A661;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
  border-radius: 5px;
}
input[type="submit"] {
  color: antiquewhite;
  border: 1px solid antiquewhite;
  background: linear-gradient(rgb(162, 84, 64), rgb(145, 82, 30), rgb(142, 87, 67));
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
input[type="submit"]:active {
  background-color: gray;
}
.container {
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: linear-gradient(rgb(162, 84, 64), rgb(145, 82, 30), rgb(142, 87, 67));
  box-shadow: 0 0 20px 0 rgba(15, 64, 64, 0.8);
  opacity: .8;
  border-radius: 5px;
}
#new-beer-btn {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .25rem;
  color: antiquewhite;
  border: 1px solid white;
  background: linear-gradient(rgb(162, 84, 64), rgb(145, 82, 30), rgb(142, 87, 67));
  box-shadow: 0 0 10px 0 rgba(15, 64, 64, 0.8);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: antiquewhite;
  background: linear-gradient(rgb(162, 84, 64), rgb(145, 82, 30), rgb(142, 87, 67));
  border-radius: 5px;
  border: 1px solid antiquewhite;
}
h3 {
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
